
 <div id="foto">
	<ion-content ng-controller="fotoCtrl">
	    <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}">
	    <img ng-show="imgURI === undefined" ng-src="http://placehold.it/300x300">
	    <button class="button" ng-click="takePicture()">Take Picture</button>
	</ion-content>
</div>
