/* Empty. Add your own CSS if you like */


.scroll {
    height: 100%;
}

#map {
	position: absolute;
	top: 0;
	left: 0;
    width: 100%;
    height: 100%;
}

#foto {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 300px;
	background-color: #000;
	color: yellow;
	text-align: center;
}